.nav-links{
    -fx-text-fill: #000000;
}
.nav-links:hover{
    -fx-text-fill: #d81b15;
}
.correndon-blue{
    -fx-background-color: #cccccc;
}
.correndon-lightblue{
    -fx-background-color: lightgrey;
}
.buttonsNav{
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.buttonsNav:hover{
    -fx-background-color: #dddddd;
    -fx-cursor:hand;
}
.buttonsNavActive{
    -fx-background-color: transparent;
    -fx-text-fill:blue;
    -fx-padding: 0 0 0 5;
    -fx-underline: true;
}
.buttonsNavActive:hover{
    -fx-background-color: #dddddd;
    -fx-cursor:hand;
}
.border-pane.vbox{
    
    -fx-pref-width: 120;
}
.titled-pane 
{   
    -fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused 
{
    -fx-text-fill: white;
}
.titled-pane > .title 
{
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title 
{
    -fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button 
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
    
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
    -fx-rotate: -90;
}

.titled-pane > *.content 
{
    -fx-background-color:
        #cccccc;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.titled-pane:focused > .title > .arrow-button .arrow 
{
    -fx-background-color: blue;
}